<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="My Store Demo Ecommerce Application">
    <listeners>
        <listener
                class-name="com.mystore.utilities.Reporting" />
    </listeners>

    <test verbose="2" preserve-order="true" name="MyStore Test">
        <parameter name="browser" value="chrome" />
        <classes>
<!--            <class name="com.mystore.testCases.AuthenticationModule" />-->
            <class name="com.mystore.testCases.MyAddressModule" />
        </classes>
    </test>
</suite>