<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="My Store demo eCommerce site">

    <listeners>
        <listener
                class-name="com.mystore.utilities.Reporting"/>
    </listeners>

    <test verbose="2" preserve-order="true" name="/media/auntor/e8c879f4-0e89-4961-8ec4-d00e5741123d/sqa/SQA-practice-project/Automation-Selenium/Project/MyStore">
        <parameter name="browser" value="chrome" />
        <classes>

        <classes/>
    </test>
</suite>